* {
	outline-color: var(--text);
	color: var(--text);
}

.hidden {
	display: none;
}

:root {
	--text: #7289da;
	--bg-elements: #99aab5;
}

body {
	-webkit-app-region: drag;
	background: #23272a !important;
	color: #7289da !important;
	font: 400 17px Arial !important;
}

button {
	background: #2c2f33;
	color: var(--text);
	border: none;
	transition: background-color 0.2s;
	font-size: 17px;
	padding: 10px;
	-webkit-app-region: no-drag;
}

button:hover {
	background-color: var(--text);
	color: var(--bg-elements);
}

input {
	background: #2c2f33;
	color: var(--text);
	border: none;
	padding: 10px;
	font-size: 17px;
	max-width: 95%;
	min-width: 25%;
	-webkit-app-region: no-drag;
}

#error {
	color: red;
	font-size: 17px;
	font-weight: bolder;
}

.custom-control-input:checked ~ .custom-control-label::before {
	background: var(--text);
}

#bot-check {
	margin-right: 10px;
	margin-left: 10px;
	-webkit-app-region: no-drag;
}

input:checked + label::before {
	border-right-color: var(--text) !important;
	border-bottom-color: var(--text) !important;
}

input + label::before {
	border-right-color: none !important;
	border-bottom-color: none !important;
	background-color: none !important;
}

#invite_input {
	width: 50%;
	height: 50%;
	-webkit-app-region: no-drag;
	/* flex: ; */
}

#msg_content_input {
	width: 50%;
	height: 50%;
	-webkit-app-region: no-drag;
	/* flex: ; */
}

#id_input {
	width: 50%;
	height: 50%;
	-webkit-app-region: no-drag;
	/* flex: ; */
}
/* . {
	width: 50%;
	height: 50%;
} */

.fonty {
	padding-top: 7px;
}

footer {
	text-align: center;
}

.heady {
	background-color: #2c2f33;
	text-align: end;
}

.exit_button {
	width: 2px;
	height: 1px;
	margin: 5px;
	text-align: center !important;
	font-size: 10px;
	background-color: #23272a;
	color: #7289da;
	-webkit-app-region: no-drag;
}

a {
	-webkit-app-region: no-drag;
	color: #7289da !important;
}

.sites {
	scroll-behavior: smooth;
	display: flex;
	width: 100vw;
	overflow: hidden;
	flex-wrap: nowrap;
}

.site {
	display: block;
	width: 100vw;
	flex-grow: 1;
	flex-shrink: 0;
}

.radius {
	border-radius: 500px;
	outline: none !important;
	width: 40px;
	height: 40px;
}

.radius.active {
	background: var(--text);
}
